<div class="container">
  <div class="header mt-3 col-sm">
    <h1>Daily Tech Articles</h1>
  </div>

  Our blog has <%= Article.public_count %> articles and counting!

  <ul>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li>
          <%= link_to article.title, article %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to "New Article", new_article_path %>
</div>
